*{
    margin:0;
    padding:0%;
    box-sizing: border-box;
  
  }
  body{
    background: #252526;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
  }
  /* NAV BAR */
  .navbar-itself{
    background-image: linear-gradient(#2c3a3b,rgba(12,12,14,255)) ;
  } 
  .navbar-itself:hover{
    background-color: aquamarine;
  }
  
    .navbar-brand{
        color: white;
        font-size: 30px;
    }
    .navbar-brand:hover, .nav-link:hover{
      font-size: 35px;
      color: red;
    }
  a.nav-link{
        color: white;
        text-align: right !important;  
    }
  
  .logo{
    width: 6rem;
    border-radius: 100%;
    border: 2px solid rgb(46, 80, 202);
    margin-right:0.5rem ;
  }
  img.logo:hover{
    width:8rem ;
  }
  
  
  /* landing page */ 
  
  #intro-pic{
    opacity: 0.50;
    margin-bottom: 2rem;
  }
  #intro-pic:hover{
    opacity: 0.70;
  }
  
  .top-text {
    position: absolute;
    top: 10rem;
    left: 4rem;
    font-size: 5rem;
    font-weight: 600;
    color: rgba(255, 252, 252, 0.648);
  }
  
  .top-text{
    color: white;
    border-right: .1em solid rgb(255, 0, 140);
    animation: typeOut 4s;
    font-size: 4rem;
  }
  /* ANIMATION */
   @keyframes typeOut {
    10% { 
        width: 0%;
        color: rgb(227, 0, 0);
      
    }
    30%{ 
        color: rgb(255, 187, 0);
        font-family: 'Times New Roman', Times, serif;
        font-size:medium;
    
     }
    40%{ 
        color: rgb(255, 187, 0);
        font-family:cursive;
     }
    50%{ 
        color: rgb(255, 187, 0);
        font-family:'Courier New', Courier, monospace;
  
     }
    60% {
        color: rgb(157, 255, 0);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        
  
    }
    70% { width: 70%;
        color: rgb(255, 7, 7);
  
    }
    80% {
        color: rgb(0, 255, 136);
        font-family: Georgia, Times, 'Times New Roman', serif;
        
    }
    100% {
        color: rgb(253, 255, 254);
        font-family: Georgia, Times, 'Times New Roman', serif;
    
    }
  }   
  #centerBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
  }
  #seeMoreBtn{
    padding: 10px;
    background-color: #2c3a3b;
    font-size: 19px;
    font-weight: 900;
    font-style: italic,;
    text-decoration: none;
    color: rgb(255, 255, 255);
    width: fit-content;
  }
  #seeMoreBtn:hover{
    box-shadow: 19px 9px 9px rgb(0, 0, 0);
    background-color: white;
    color:black;
    font-size: 22px;
    
  }
  footer {
    background-image: linear-gradient(#2c3a3b, rgba(12, 12, 14, 255));
    color: white;
    font-size: 20px;
    text-align: center;
    height: 3rem;
    
  }
  
  @media only screen and (max-width: 860px) {
    .top-text {
        font-size: 2rem ;
    }
  }
  @media only screen and (max-width: 470px) {
    .top-text {
        font-size: 1rem ;
    }
    
  }
  @media only screen and (max-width: 650px){
  
    Foot{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        color: white;
        text-align: center;
    }
    .navbar-brand{
        font-size: 15px;
    }
    .logo{
        width: 3rem;
    }
    .card-about{
        background-color: aliceblue;
    }
  }
    
  @media only screen and (max-width: 300px){
    .top-text{
      font-size: 0,5rem;
    }
    @keyframes typeOut {
      10% { 
          width: 0%;
          color: rgb(227, 0, 0);
          font-size: xx-small;
      }
      30%{ 
          color: rgb(255, 187, 0);
          font-family: 'Times New Roman', Times, serif;
       }
      40%{  
          color: rgb(255, 187, 0);
          font-family:cursive;
          font-size: xx-small;
       }
      50%{ 
          color: rgb(255, 187, 0);
          font-family:'Courier New', Courier, monospace;
          font-size: small;
       }
      60% {
          color: rgb(157, 255, 0);
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      }
      70% { width: 70%;
          color: rgb(255, 7, 7);
          font-size: medium;
      }
      80% {
          color: rgb(0, 255, 136);
          font-family: Georgia, Times, 'Times New Roman', serif;
      }
      100% {
          color: rgb(253, 255, 254);
          font-family: Georgia, Times, 'Times New Roman', serif;
          font-size: larger;
         
      }
    }  
    
  
  }
  
  
  /* prodcuts page  */
  
  /* product name */
  #pro-text{
    /* text-align: center; */
    text-decoration: underline;
    background-color: #1e1e20;
    height: 5rem;
    padding: 20px;
    color: white;
  
  }
  /* sale banner  */
  #banner{
    margin:2px auto 35px auto;
    text-align:center;
    font-size:70px;
    font-weight: 900px;
    color:rgb(0, 0, 0);
    background-image: linear-gradient(#3e4f50,rgb(94, 89, 89)) ;
  }
  
  /* on selected text */
  #pro-smText{
    font-size: 10px;
    color: rgb(255, 0, 0);
  }
  
  
  /* ABOUT US AND CONTACT SECTION */
  
  .card-about{
    margin: 2rem;
    font-size: 2rem;
    background-color: rgb(38, 36, 40);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .aboutSite{
    color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
  }
  .headingTags{
    color: white;
    text-align: center;
    text-decoration: underline;
    font-size: 50px;
  }
  .socialIcons{
   margin: 50px 0px 0px 345px ;
   display:flex;
   justify-self: center;
   size:0vmax;
  }
  /* contact us  */
  .form-label{
    color: white;
    font-style: italic;
    font-size: 2.5rem;
  }
  /* the form itself */
  .mb-3-contactForm{
    margin: auto;
    width:55rem;
    height: 12rem;
  }
  .form-control{
    font-size: 2rem;
    color: #1e1e20;
    font-weight: 900;
  }
  #submit{
    border-radius: 7px;
    font-size: 26px;
    margin: 5px;
  }
  
  
  /* ADMIN PAGE */
  table{
  color: white;
  border: 2px solid;
  padding: 50px;
  }
  
  thead, td{
    border: 3px solid white;
    padding: 12px;
  }
  
  /* checkout page  */
  #checkoutFooter{
  height: 31vh;
  }
  
  /* new css */
  
  div.newCard{
    background-color:#131315;
    padding: 9px;
    margin: 9px;
    width: 25rem;
   
  }
  .newCardImg{
    width: 100%;
    height: 45vh;
  }
  .body-newCard{
    background-color: #3b3b41;
    padding:4px;
    color: rgb(240, 232, 232);
  }
  .title-newCard{
    text-decoration: underline;
  }
  .text-newCard{
    font-weight: 800;
  }
  #productData{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  
  }
  .crud-btn{
    /* border: none; */
    background-color: rgb(150, 99, 99);
    padding: 2px;
    
  }
  .addProdBtn{
    width:15rem;
    background-color: rgb(150, 90, 99);
  }
  
  #adminSection h1{
    color: aliceblue;
  }
  #picsForAdmin{
    width: 7rem;
  }
  